# Web Server
fastapi
uvicorn[standard]
jinja2

# LangChain Core and Community
langchain
langchain-community
langchain-core
langchain-text-splitters

# LangChain Integrations
langchain-ollama
langchain-chroma


# Vector Database and Utilities
chromadb
beautifulsoup4
python-multipart
sqlite3
